body {
    background: black;
    color: white;
}

/*
.ui-fluid-image-top{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    margin-bottom: 1%;
}

.ui-fluid-image-bottom{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: bottom;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
} */


#imageA {
    max-height: 100%;
    height: auto;
}

#imageB {
    max-height: 100%;
    height: auto;
} */

 .ui.button {
    height: fit-content;
    width: auto; 
}
#containerA {
    height: auto;
}

#buttonA {
    color: white;
    background-color: black;
    transform: rotate(180deg);
} 

#buttonB {
    color: white;
     background-color: black;
} 

#lifeNumber {
    size: 50px;
    color: white;
    font-size: 8.5rem;
    z-index: 1;
    position: absolute;
    margin-top: 30%;
    margin-left: 13%;
}

/* #sectionOne {
    background: black;  */
}

