body {
    background: wheat;
    color: white;
}

/*
.ui-fluid-image-top{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    margin-bottom: 1%;
}

.ui-fluid-image-bottom{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: bottom;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
} */


#imageA {
    max-height: 100%;
    height: auto;
}

#imageB {
    max-height: 100%;
    height: auto;
} */

 .ui.button {
    height: fit-content;
    width: auto; 
}
#containerA {
    height: auto;
}

#topSection {
    transform: rotate(180deg);
} 

/* #bottomSection {
    
}  */

#lifeNumber {
    size: 50px;
    color: white;
    font-size: 8.5rem;
    z-index: 1;
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
    text-shadow: 0px 2px 3px rgba(32, 8, 8, 0.664),
               0px 4px 7px rgba(32, 8, 8, 0.664),
               0px 9px 12px rgba(32, 8, 8, 0.664);
}

#lifeOpp {
    size: 50px;
    color: white;
    font-size: 8.5rem;
    z-index: 1;
    position: absolute;
    margin-top: 20%;
    margin-left: 23%;
    text-shadow: 0px 2px 3px rgba(32, 8, 8, 0.664),
               0px 4px 7px rgba(32, 8, 8, 0.664),
               0px 9px 12px rgba(32, 8, 8, 0.664);
}

#p1 {
    text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
               0px 4px 7px rgba(0,0,0,0.1),
               0px 9px 12px rgba(0,0,0,0.1);
}

/* #sectionOne {
    background: black;  */
}

